CREATE DATABASE DOCTORSKIN
USE DOCTORSKIN

/****** Object:  Table [dbo].[Wishlists] */
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Wishlists]') AND type in (N'U'))
DROP TABLE [dbo].[Wishlists]
GO
/****** Object:  Table [dbo].[Vouchers]    */
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Vouchers]') AND type in (N'U'))
DROP TABLE [dbo].[Vouchers]
GO
/****** Object:  Table [dbo].[Users]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UserRolesMappings]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRolesMappings]') AND type in (N'U'))
DROP TABLE [dbo].[UserRolesMappings]
GO
/****** Object:  Table [dbo].[UserRoles]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRoles]') AND type in (N'U'))
DROP TABLE [dbo].[UserRoles]
GO
/****** Object:  Table [dbo].[ServicesDetails]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ServicesDetails]') AND type in (N'U'))
DROP TABLE [dbo].[ServicesDetails]
GO
/****** Object:  Table [dbo].[Services]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Services]') AND type in (N'U'))
DROP TABLE [dbo].[Services]
GO
/****** Object:  Table [dbo].[RoleMasters]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RoleMasters]') AND type in (N'U'))
DROP TABLE [dbo].[RoleMasters]
GO
/****** Object:  Table [dbo].[RepFeedbacks]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RepFeedbacks]') AND type in (N'U'))
DROP TABLE [dbo].[RepFeedbacks]
GO
/****** Object:  Table [dbo].[Questions]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Questions]') AND type in (N'U'))
DROP TABLE [dbo].[Questions]
GO
/****** Object:  Table [dbo].[Products]    ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[Patients]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Patients]') AND type in (N'U'))
DROP TABLE [dbo].[Patients]
GO
/****** Object:  Table [dbo].[Medicines]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Medicines]') AND type in (N'U'))
DROP TABLE [dbo].[Medicines]
GO
/****** Object:  Table [dbo].[Medias]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Medias]') AND type in (N'U'))
DROP TABLE [dbo].[Medias]
GO
/****** Object:  Table [dbo].[Forgots]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Forgots]') AND type in (N'U'))
DROP TABLE [dbo].[Forgots]
GO
/****** Object:  Table [dbo].[Feedbacks]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Feedbacks]') AND type in (N'U'))
DROP TABLE [dbo].[Feedbacks]
GO
/****** Object:  Table [dbo].[Doctors]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Doctors]') AND type in (N'U'))
DROP TABLE [dbo].[Doctors]
GO
/****** Object:  Table [dbo].[Categories]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Categories]') AND type in (N'U'))
DROP TABLE [dbo].[Categories]
GO
/****** Object:  Table [dbo].[Carts]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Carts]') AND type in (N'U'))
DROP TABLE [dbo].[Carts]
GO
/****** Object:  Table [dbo].[Brands]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Brands]') AND type in (N'U'))
DROP TABLE [dbo].[Brands]
--GO
/****** Object:  Table [dbo].[Bought]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bought]') AND type in (N'U'))
DROP TABLE [dbo].[Bought]
GO
/****** Object:  Table [dbo].[Bookings]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bookings]') AND type in (N'U'))
DROP TABLE [dbo].[Bookings]
GO
/****** Object:  Table [dbo].[BlogTypes]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BlogTypes]') AND type in (N'U'))
DROP TABLE [dbo].[BlogTypes]
GO
/****** Object:  Table [dbo].[BlogDetails]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BlogDetails]') AND type in (N'U'))
DROP TABLE [dbo].[BlogDetails]
GO

/****** Object:  Table [dbo].[Bills]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bills]') AND type in (N'U'))
DROP TABLE [dbo].[Bills]
GO
/****** Object:  Table [dbo].[Banners]     ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Banners]') AND type in (N'U'))
DROP TABLE [dbo].[Banners]
GO
/****** Object:  Table [dbo].[Banners]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[link] [nvarchar](max) NULL,
	[homepage] [bit] NULL,
	[servicepage] [bit] NULL,
	[blogpage] [bit] NULL,
	[productpage] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[sttbill] [int] IDENTITY(1,1) NOT NULL,
	[idp] [int] NULL,
	[quantity] [int] NULL,
	[totalbill] [nvarchar](max) NULL,
	[totalmoney] [nvarchar](max) NULL,
	[idbill] [nvarchar](max) NULL,
	[iduser] [nvarchar](max) NULL,
	[note] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[yesfb] [bit] NULL,
	[datebuy] [datetime] NULL,
	[idvoucher] [nvarchar](max) NULL,
	[whycancel] [nvarchar](max) NULL,
	[datesuccess] [datetime] NULL,
	[exception] [nvarchar](max) NULL,
	[address] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[BlogDetails]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogDetails](
	[idbt] [int] NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[shortcontent] [nvarchar](max) NULL,
	[cardimg] [nvarchar](max) NULL,
	[hideblog] [bit] NULL,
	[idb] [int] IDENTITY(1,1) NOT NULL,
	[date_up] [datetime] NULL,
	[contentblog] [nvarchar](max) NULL,
	[metablog] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogTypes]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogTypes](
	[idbt] [int] NOT NULL,
	[namebt] [nvarchar](max) NOT NULL,
	[hide] [bit] NOT NULL,
	[meta] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[phone] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[require] [nvarchar](max) NULL,
	[timebooking] [datetime] NULL,
	[completed] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bought]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bought](
	[iduser] [nvarchar](max) NULL,
	[datebuy] [datetime] NULL,
	[status] [nvarchar](max) NULL,
	[datestatus] [datetime] NULL,
	[sttbill] [int] NULL,
	[sttbought] [int] IDENTITY(1,1) NOT NULL,
	[yesfb] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[idbrand] [int] IDENTITY(1,1) NOT NULL,
	[namebrand] [nvarchar](max) NULL,
	[hidebrand] [bit] NULL,
	[meta] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[iduser] [nvarchar](max) NULL,
	[idp] [int] NULL,
	[quanlity] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[typep] [int] IDENTITY(1,1) NOT NULL,
	[namec] [nvarchar](max) NULL,
	[hide] [bit] NULL,
	[meta] [nvarchar](max) NULL,
	[date_up] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[namedoc] [nvarchar](max) NULL,
	[infordoc] [nvarchar](max) NULL,
	[ava_doc] [nvarchar](max) NULL,
	[hide_doc] [bit] NULL,
	[date_up_doc] [datetime] NULL,
	[iddoc] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[sttfb] [int] IDENTITY(1,1) NOT NULL,
	[idbill] [nvarchar](max) NULL,
	[cmt] [nvarchar](max) NULL,
	[datefb] [datetime] NULL,
	[hidefb] [bit] NULL,
	[iduser] [nvarchar](max) NULL,
	[idp] [int] NULL,
	[star] [int] NULL,
	[imagefb] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forgots]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forgots](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](max) NULL,
	[token] [nvarchar](max) NULL,
	[createAt] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medias]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medias](
	[idmedia] [int] IDENTITY(1,1) NOT NULL,
	[hrefmedia] [nvarchar](max) NULL,
	[imgmedia] [nvarchar](max) NULL,
	[hidemedia] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicines]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[price] [nvarchar](max) NULL,
	[uses] [nvarchar](max) NULL,
	[hide] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[gender] [nvarchar](max) NULL,
	[age] [int] NULL,
	[phone] [nvarchar](10) NULL,
	[diagnose] [nvarchar](max) NULL,
	[prescription] [nvarchar](max) NULL,
	[pay] [nvarchar](max) NULL,
	[date] [datetime] NULL,
	[doctor] [nvarchar](max) NULL,
	[date_re] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[idp] [int] IDENTITY(1,1) NOT NULL,
	[namep] [nvarchar](max) NULL,
	[typep] [int] NULL,
	[newprice] [nvarchar](max) NOT NULL,
	[oldprice] [nvarchar](max) NOT NULL,
	[descr] [nvarchar](max) NOT NULL,
	[hide] [bit] NOT NULL,
	[statep] [nvarchar](max) NOT NULL,
	[img] [nvarchar](max) NULL,
	[date_up] [datetime] NULL,
	[idbrand] [int] NULL,
	[metap] [nvarchar](max) NULL,
	[avilability] [nvarchar](max) NULL,
	[rated] [nvarchar](max) NULL,
	[listimg] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[iduser] [nvarchar](max) NULL,
	[question] [nvarchar](max) NULL,
	[rep] [bit] NULL,
	[datequestion] [datetime] NULL,
	[repquestion] [nvarchar](max) NULL,
	[daterep] [nvarchar](max) NULL,
	[iduserrep] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepFeedbacks]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepFeedbacks](
	[sttrep] [int] IDENTITY(1,1) NOT NULL,
	[sttfb] [int] NULL,
	[iduser] [nvarchar](max) NULL,
	[cmt_rep] [nvarchar](max) NULL,
	[date_rep] [datetime] NULL,
	[hide_rep] [bit] NULL,
	[from_rep] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMasters]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMasters](
	[ID] [int] NULL,
	[RollName] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[name_dt] [nvarchar](max) NULL,
	[desc_dt] [nvarchar](max) NULL,
	[hide_dt] [bit] NULL,
	[img_dt] [nvarchar](max) NULL,
	[id_dt] [int] IDENTITY(1,1) NOT NULL,
	[meta] [nvarchar](max) NULL,
	[slider_dt] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicesDetails]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicesDetails](
	[id_sd] [int] IDENTITY(1,1) NOT NULL,
	[name_sd] [nvarchar](max) NULL,
	[img_sd] [nvarchar](max) NULL,
	[hide_sd] [bit] NULL,
	[price_sd] [nvarchar](max) NULL,
	[id_dt] [int] NULL,
	[desc_de] [nvarchar](max) NULL,
	[amount] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](max) NULL,
	[rolename] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRolesMappings]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRolesMappings](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](max) NULL,
	[idrole] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[iduser] [nvarchar](max) NULL,
	[name] [nvarchar](max) NULL,
	[birth] [datetime] NULL,
	[gender] [nvarchar](10) NULL,
	[phone] [nvarchar](10) NULL,
	[email] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[hide] [bit] NULL,
	[ava] [nvarchar](max) NULL,
	[total] [int] NULL,
	[point] [int] NULL,
	[dateregist] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[idvoucher] [nvarchar](max) NULL,
	[namevc] [nvarchar](max) NULL,
	[valuevc] [nvarchar](max) NULL,
	[quantity] [int] NULL,
	[dasudung] [int] NULL,
	[datefrom] [nvarchar](max) NULL,
	[dateto] [nvarchar](max) NULL,
	[hidevc] [bit] NULL,
	[stt] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[stt_wl] [int] IDENTITY(1,1) NOT NULL,
	[iduser] [nvarchar](max) NULL,
	[idp] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Banners] ON 

INSERT [dbo].[Banners] ([stt], [link], [homepage], [servicepage], [blogpage], [productpage]) VALUES (1, N'/Content/assets/img/slider/o21.png', 1, 0, 0, 0)
INSERT [dbo].[Banners] ([stt], [link], [homepage], [servicepage], [blogpage], [productpage]) VALUES (2, N'/Content/assets/img/slider/o22.png', 1, 0, 0, 0)
INSERT [dbo].[Banners] ([stt], [link], [homepage], [servicepage], [blogpage], [productpage]) VALUES (3, N'/Content/assets/img/slider/o23.png', 1, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Banners] OFF

GO
SET IDENTITY_INSERT [dbo].[BlogDetails] ON 

SET IDENTITY_INSERT [dbo].[BlogDetails] OFF
GO
INSERT [dbo].[BlogTypes] ([idbt], [namebt], [hide], [meta]) VALUES (1, N'Blog trị mụn', 0, N'blog-tri-mun')
INSERT [dbo].[BlogTypes] ([idbt], [namebt], [hide], [meta]) VALUES (2, N'Chăm sóc da', 0, N'cham-soc-da')
INSERT [dbo].[BlogTypes] ([idbt], [namebt], [hide], [meta]) VALUES (3, N'Blog trị sẹo', 0, N'blog-tri-seo')
GO

SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([idbrand], [namebrand], [hidebrand], [meta]) VALUES (1, N'Nội địa', 0, N'noi-dia')
INSERT [dbo].[Brands] ([idbrand], [namebrand], [hidebrand], [meta]) VALUES (2, N'Obagi', 0, N'obagi')
INSERT [dbo].[Brands] ([idbrand], [namebrand], [hidebrand], [meta]) VALUES (3, N'Balance', 0, N'balance')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([typep], [namec], [hide], [meta], [date_up]) VALUES (1, N'Kem dưỡng ẩm', 0, N'kem-duong-am', CAST(N'2024-02-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Categories] ([typep], [namec], [hide], [meta], [date_up]) VALUES (2, N'Kem chống nắng', 0, N'kem-chong-nang', CAST(N'2024-03-16T00:00:00.000' AS DateTime))
INSERT [dbo].[Categories] ([typep], [namec], [hide], [meta], [date_up]) VALUES (3, N'Serum', 0, N'serum', CAST(N'2024-02-14T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([stt], [namedoc], [infordoc], [ava_doc], [hide_doc], [date_up_doc], [iddoc]) VALUES (1, N'Trần Hồng Anh', N'Kinh nghiệm 30 năm trong điều trị da liễu, 7 năm trực tiếp khám và điều trị mụn cho hàng ngàn Khách hàng tại O2 SKIN', N'https://o2skin-media.hn.ss.bfcplatform.vn/wp-content/uploads/2023/04/QUAN-10-BS-HONG-ANH.png', 0, CAST(N'2024-02-18T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Doctors] ([stt], [namedoc], [infordoc], [ava_doc], [hide_doc], [date_up_doc], [iddoc]) VALUES (2, N'Nguyễn Quỳnh Thi', N'Kinh nghiệm gần 10 năm trong lĩnh vực da liễu, là một trong những Bác sĩ đầu tiên công tác tại Phòng Khám O2 SKIN, chi nhánh Cần Thơ', N'https://o2skin-media.hn.ss.bfcplatform.vn/wp-content/uploads/2023/04/BINH-THANH-BS-THI.png', 0, CAST(N'2024-02-19T00:00:00.000' AS DateTime), N'Q1QG442SkO')
INSERT [dbo].[Doctors] ([stt], [namedoc], [infordoc], [ava_doc], [hide_doc], [date_up_doc], [iddoc]) VALUES (3, N'Nguyễn Thị Thùy Dương', N'Kinh nghiệm 30 năm trong điều trị da liễu, chuyên môn cao và tay nghề giỏi, Bác sĩ Nguyễn Thị Thanh Vân là một trong những Bác sĩ kỳ cựu tại O2 SKIN.', N'https://o2skin-media.hn.ss.bfcplatform.vn/wp-content/uploads/2023/04/THU-DUC-BS-DUONG.png', 0, CAST(N'2024-02-18T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO

SET IDENTITY_INSERT [dbo].[Medias] ON 

INSERT [dbo].[Medias] ([idmedia], [hrefmedia], [imgmedia], [hidemedia]) VALUES (1, N'https://suckhoedoisong.vn/vi-sao-can-tri-mun-theo-phac-do-ca-nhan-hoa-169179405.htm', N'https://static.mediacdn.vn/suckhoedoisong/image/logo.svg', 0)
INSERT [dbo].[Medias] ([idmedia], [hrefmedia], [imgmedia], [hidemedia]) VALUES (2, N'https://alobacsi.com/o2-skin-cai-tien-phuong-phap-dieu-tri-mun-sau-6-thang-nghien-cuu-va-thu-nghiem-n411136.html', N'https://alobacsi.com/logo-with-tagline.png', 0)
INSERT [dbo].[Medias] ([idmedia], [hrefmedia], [imgmedia], [hidemedia]) VALUES (3, N'https://zingnews.vn/gioi-tre-tphcm-chia-se-hieu-qua-tri-mun-tai-o2-skin-post1118072.html', N'https://onecms.1cdn.vn/2023/12/04/photo.znews.vn-w1920-uploaded-znguhv-2023_12_03-_znews1.jpg', 0)
SET IDENTITY_INSERT [dbo].[Medias] OFF
GO

SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([sttfb], [idbill], [cmt], [datefb], [hidefb], [iduser], [idp], [star], [imagefb]) VALUES (1, N'1547451', N'Sản phẩm rất tốt', CAST(N'2024-05-13T00:00:00.000' AS DateTime), 0, N'htye7go15', 1, 4, N'')
INSERT [dbo].[Feedbacks] ([sttfb], [idbill], [cmt], [datefb], [hidefb], [iduser], [idp], [star], [imagefb]) VALUES (3, N'1241859', N'Giao hàng nhanh', CAST(N'2024-05-17T00:00:00.000' AS DateTime), 0, N'pouR71lnC9', 1, 5, N'')
INSERT [dbo].[Feedbacks] ([sttfb], [idbill], [cmt], [datefb], [hidefb], [iduser], [idp], [star], [imagefb]) VALUES (33, N'5121055539', N'Tôi rất hài lòng về chất lượng dịch vụ, sản phẩm tốt giá rẻ', CAST(N'2024-05-04T13:21:17.000' AS DateTime), 0, N'htye7go15', 1013, 4, N'https://res.cloudinary.com/dnqk5fjla/image/upload/v1683181279/DoctorSkin/94b09020-6371-4f11-a484-de9d239d823c.jpg,https://res.cloudinary.com/dnqk5fjla/image/upload/v1683181281/DoctorSkin/6da783df-cfff-4715-ba08-61e3c695f202.jpg')
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF

GO

SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([name_dt], [desc_dt], [hide_dt], [img_dt], [id_dt], [meta], [slider_dt]) VALUES (N'Điều trị mụn', N'Các dịch vụ điều trị mụn tại O2 SKIN tập trung điều trị chuyên sâu, lần lượt giải quyết từng vấn đề của làn da mụn như giảm viêm, giảm nhờn, giảm sừng hóa nang lông, hỗ trợ đẩy nhanh quá trình gom khô cồi mụn và lấy nhân mụn ra khỏi da, mang lại cảm giác nhẹ nhàng, sạch thoáng lỗ chân lông.', 0, N'https://suckhoedoisong.qltns.mediacdn.vn/324455921873985536/2021/12/30/1-16408495928771730490624.png', 1, N'dieu-tri-mun', N'dtm')
INSERT [dbo].[Services] ([name_dt], [desc_dt], [hide_dt], [img_dt], [id_dt], [meta], [slider_dt]) VALUES (N'Điều trị phục hồi da', N'Sử dụng các phương pháp điều trị mụn kết hợp giúp giải quyết đồng thời các vấn đề của làn da mụn như giảm các triệu chứng sưng viêm, đỏ da, cân bằng nhờn, điều trị mụn dưới da, giảm tình trạng da dày sừng, hỗ trợ đẩy nhanh quá trình gom khô cồi mụn và rút ngắn thời gian điều trị mụn hiệu quả', 0, N'https://o2skin.cdn.vccloud.vn/wp-content/uploads/2021/10/dieu-tri-mun-ket-hop-e1637831941671.jpg', 2, N'dieu-tri-phuc-hoi-da', N'dtphd')
INSERT [dbo].[Services] ([name_dt], [desc_dt], [hide_dt], [img_dt], [id_dt], [meta], [slider_dt]) VALUES (N'Điều trị thâm', N'Da nhạy cảm, da đang bị dị ứng, kích ứng hoặc tai biến corticoid sẽ được điều trị bằng các phương pháp điện di chuyên sâu, đắp mặt nạ phục hồi, cấp ẩm tức thì, làm dịu da và giảm các triệu chứng kích ứng, đỏ da, rát da, giúp phục hồi da về trạng thái cân bằng, khỏe mạnh.', 0, N'https://o2skin.cdn.vccloud.vn/wp-content/uploads/2021/10/dieu-tri-phuc-hoi-danh-cho-da-nhay-cam-02.jpg', 3, N'dieu-tri-tham', N'dtt')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[ServicesDetails] ON 

INSERT [dbo].[ServicesDetails] ([id_sd], [name_sd], [img_sd], [hide_sd], [price_sd], [id_dt], [desc_de], [amount]) VALUES (1, N'Chiếu ánh sáng sinh học xanh, đỏ', N'https://maythammyhoanggia.com/wp-content/uploads/2020/12/may-anh-sang-sinh-hoc-1-1.jpg', 0, N'100000', 1, NULL, 4)
INSERT [dbo].[ServicesDetails] ([id_sd], [name_sd], [img_sd], [hide_sd], [price_sd], [id_dt], [desc_de], [amount]) VALUES (2, N'Điện di điều trị mụn (cho da bình thường)', N'https://vinmec-prod.s3.amazonaws.com/images/20210619_033021_816719_15404411781150-635x.max-1800x1800.jpg', 0, N'340000', 1, NULL, 10)
INSERT [dbo].[ServicesDetails] ([id_sd], [name_sd], [img_sd], [hide_sd], [price_sd], [id_dt], [desc_de], [amount]) VALUES (3, N'Điện di điều trị mun (cho da nhạy cảm)', N'https://edbeauty.net/wp-content/uploads/2018/03/dien-di-collagen-cang-bong-2.jpg', 0, N'420000', 1, NULL, 7)



SET IDENTITY_INSERT [dbo].[ServicesDetails] OFF
GO
GO
INSERT [dbo].[RoleMasters] ([ID], [RollName]) VALUES (1, N'Admin')
INSERT [dbo].[RoleMasters] ([ID], [RollName]) VALUES (2, N'User')
INSERT [dbo].[RoleMasters] ([ID], [RollName]) VALUES (3, N'Doctor')
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([stt], [email], [rolename]) VALUES (1, N'tranthuhao70@gmail.com', N'User')
INSERT [dbo].[UserRoles] ([stt], [email], [rolename]) VALUES (2, N'admin1@gmail.com', N'Admin')
INSERT [dbo].[UserRoles] ([stt], [email], [rolename]) VALUES (3, N'bacsi1@gmail.com', N'Doctor')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRolesMappings] ON 

INSERT [dbo].[UserRolesMappings] ([stt], [email], [idrole]) VALUES (1, N'tranthuhao70@gmail.com', 2)
INSERT [dbo].[UserRolesMappings] ([stt], [email], [idrole]) VALUES (2, N'admin1@gmail.com', 1)
INSERT [dbo].[UserRolesMappings] ([stt], [email], [idrole]) VALUES (3, N'bacsi1@gmail.com', 3)

SET IDENTITY_INSERT [dbo].[UserRolesMappings] OFF
GO
INSERT [dbo].[Users] ([iduser], [name], [birth], [gender], [phone], [email], [password], [hide], [ava], [total], [point], [dateregist]) VALUES (N'u73jj9eY56', N'Trần Thu Hảo', CAST(N'2024-03-12 00:00:00.000' AS DateTime), N'Male', N'0943906224', N'tranthuhao70@gmail.com', N'$2a$11$XWK7A7zFvx2MS93hSZReK.Rkf/4XtKFws/4Nh6n1v5BezDuKWlS2e', 0, N'https://res.cloudinary.com/dnqk5fjla/image/upload/v1710491817/DoctorSkin/97d45878-c54d-49c8-a046-fa6612c58b30.webp', 0, 0, CAST(N'2024-03-15 15:37:00.000' AS DateTime))
INSERT [dbo].[Users] ([iduser], [name], [birth], [gender], [phone], [email], [password], [hide], [ava], [total], [point], [dateregist]) VALUES (N'Uh8ut4Ixvj', N'Admin', CAST(N'2024-03-06 00:00:00.000' AS DateTime), N'Female', N'0943906226', N'admin1@gmail.com', N'$2a$11$T/J5aDCALsb15BRhOi4BA.BkO91zwty8K/FmLvEbdFq3CVJs/CNIS', 0, N'https://res.cloudinary.com/dnqk5fjla/image/upload/v1710492460/DoctorSkin/8bc295d2-365f-435b-81c9-3b4de887ef1e.jpg', 0, 0, CAST(N'2024-03-15 15:47:42.000' AS DateTime))
INSERT [dbo].[Users] ([iduser], [name], [birth], [gender], [phone], [email], [password], [hide], [ava], [total], [point], [dateregist]) VALUES (N'jCPKOZc7YV', N'Bs.1', CAST(N'2024-02-29 00:00:00.000' AS DateTime), N'Male', N'0943906223', N'bacsi1@gmail.com', N'$2a$11$oLxpQ87k.IIfxFJhJf0GoO0ETa1g5vrJkc3HsSi0tqw75X.tWys.6', 0, N'https://res.cloudinary.com/dnqk5fjla/image/upload/v1710492773/DoctorSkin/1485cca7-cf88-465b-b945-23b344450d46.jpg', 0, 0, CAST(N'2024-03-15 15:52:55.000' AS DateTime))


GO
SET IDENTITY_INSERT [dbo].[Medicines] ON 

INSERT [dbo].[Medicines] ([id], [name], [price], [uses], [hide]) VALUES (1, N'Cetirizine 10mg', N'1000', N'Cetirizine là thuốc kháng Histamin mạnh có tác dụng chống dị ứng nhưng không gây buồn ngủ. Thuốc thường được dùng để làm giảm các triệu chứng của dị ứng như sốt, hắt hơi, ngứa, chảy nước mũi và bị ngạt mũi, mắt đỏ và chảy nước mắt. Đồng thời thuốc còn có khả năng giảm sưng, tấy đỏ và ngứa trên da (triệu chứng của mề đay vô căn mãn tính).

', 0)
INSERT [dbo].[Medicines] ([id], [name], [price], [uses], [hide]) VALUES (2, N'Clinecid 300/ Pyclin 300', N'4000', N'điều trị những bệnh nhiễm vi khuẩn nhạy cảm', 0)
INSERT [dbo].[Medicines] ([id], [name], [price], [uses], [hide]) VALUES (3, N'Thuốc kháng sinh uống trị mụn Cotrimxazon 960', N'5000', N'Thuốc có tác dụng chống nhiễm khuẩn, kháng sinh cho mụn nhẹ. Có thể sử dụng để điều trị phổ rộng các trường hợp nhiễm trùng vi khuẩn Gram (-), Gram (+), đặc biệt đối với nhiễm lậu cầu, nhiễm trùng đường tiểu cấp không biến chứng và bệnh nhân bị viêm phổi do Pneumocystis Carinii.', 0)
SET IDENTITY_INSERT [dbo].[Medicines] OFF
